<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<!-- Spacer - need to delete -->
<div class="row">
  <div class="small-12 columns">
    <p><br><br><br></p>
  </div>
</div>

<!-- Page header -->
<div class="row">
  <div class="small-12 text-center columns">
    <h2>Last step!</h2>
  </div>
</div>

<%= form_for [@project,@reward,@pledge] do |f| %>
<div class="row">
  <div class="small-10 medium-6 large-6 small-centered columns">
    <p>This reward requires shipping information for the project owner.  We will only share this information once the project when the project is complete and only with the project owner.</p>

    <div class="row collapse">
      <span class="payment-errors"></span>
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-torso"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :address, placeholder: 'Your street address' %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-torso"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :postal_code, placeholder: 'Your postal code' %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-torso"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :city, placeholder: 'Your city' %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-torso"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.select :province, options_for_select(['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Northwest Territories', 'Nunavut', 'Yukon']), prompt: 'Select your province' %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-12 columns text-center">
        <%= f.submit "Submit", class: 'button'  %>
      </div>
    </div>

  </div>
</div>
<% end %>
