<% if reward.project.days_left > 0 && current_user %>
	<%= link_to project_reward_path(reward.project, reward) do %><div class='reward-container'>
		<div class="reward-description">
			<h4 class="text-center"><strong>Pledge <%= number_to_currency(reward.amount / 100, precision: 0) %></strong></h4>
			<hr>
			<h5><%= pluralize(reward.pledges.count, 'backer') %></h5>
			<p><%= reward.description %></p>
			
		</div>
		<div class="reward-selector">
			<h4>Select this reward</h4>
		</div>
	</div>
	<% end %>
<% else %>
	<div class='reward-container'>
		<div class="reward-description">
			<p><strong>Pledge <%= number_to_currency(reward.amount / 100, precision: 0) %></strong></p>
			<p><%= pluralize(reward.pledges.count, 'backer') %></p>
			<p><%= reward.description %></p>
		</div>
	</div>
<% end %>

<%= javascript_tag do %>

	window.current_user = <%= !session[:user_id] %>

	if (window.current_user){
		$('.stripe-button-el').hide();
		$('.reward-description').last().append('<p><strong>Please log in to pledge</strong></p>')
	};

<% end %>