<div class='reward-container'>	
	<div class="reward-description">
		<p><strong>Pledge <%= number_to_currency(reward.amount / 100, precision: 0) %> or more</strong></p>
		<p><%= pluralize(reward.pledges.count, 'backer') %></p>
		<p><%= reward.description %></p>
	</div>
	<div class="reward-selector">
		<h4>Select this reward</h4>
	</div>

	<%= form_tag project_reward_charges_path(@project, reward) do %>
	  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	          data-description="<%= reward.project.title %>"
	          data-amount="<%= reward.amount %>"></script>
	<% end %>
</div>