<% if reward.project.days_left > 0 && current_user %>
	<%= link_to project_reward_path(reward.project, reward) do %>
		<div class="reward-container panel">
			<div class="reward-description">
				<h6 class="text-left"><strong>Pledge <%= number_to_currency(reward.amount / 100, precision: 0) %></strong></h6>
				<br>
				<strong><i class='fi-torsos'></i> <%= pluralize(reward.pledges.count, 'backer') %></strong>
				<br>
				<br>
				<p><%= reward.description %></p>
			</div>
			<div class="reward-selector">
				<h4>Select this reward</h4>
			</div>
		</div>
		<hr>
	<% end %>
<% else %>
<%= link_to new_session_path do %>
	<div class='reward-container'>
		<div class="reward-description">
			<p><strong>Pledge <%= number_to_currency(reward.amount/100, precision: 0) %></strong></p>
			<p><%= pluralize(reward.pledges.count, 'backer') %></p>
			<p><%= reward.description %></p>
		</div>
		<div class="reward-selector">
				<h4>Log in to pledge</h4>
			</div>
	</div>
<% end %>
<hr>
<% end %>