<% if reward.project.days_left > 0 && current_user %>
  <%= link_to "#", class: 'stripe', data: { :'stripe-desc' => reward.description, :'amount' => reward.amount, :'reward-id' => reward.id }  do %>
		<div class="reward-container panel">
			<div class="reward-description">
				<% if reward.pledges.count > 0 %>
					<div class="tag-gold"><strong><%= reward.pledges.count %></strong><br>Backers</div>
				<% else %>
					<div class="tag-green"><strong><%= reward.pledges.count %></strong><br>Backers</div>
				<% end %>
				<h1><strong>Pledge <%= number_to_currency(reward.amount / 100, precision: 0) %></strong></h1>
				<p><%= reward.description %></p>
			</div>
		  <div class="reward-selector">
				<h4>Select this reward</h4>
			</div>
		</div>
		<hr>
	<% end %>
<% elsif reward.project.days_left == 0  %>
	<div class="reward-container panel">
		<div class="reward-expired">
			<h4>Project has expired</h4>
		</div>
		<div class="reward-description">
			<% if reward.pledges.count > 0 %>
				<div class="tag-gold"><strong><%= reward.pledges.count %></strong><br>Backers</div>
			<% else %>
				<div class="tag-green"><strong><%= reward.pledges.count %></strong><br>Backers</div>
			<% end %>
			<h1><strong>Pledge <%= number_to_currency(reward.amount / 100, precision: 0) %></strong></h1>
			<p><%= reward.description %></p>
		</div>
	</div>
	<hr>
<% else %>
	<%= link_to '#', data: { :'reveal-id' => 'login'} do %>
		<div class="reward-container">
			<div class="reward-description">
				<% if reward.pledges.count > 0 %>
					<div class="tag-gold"><strong><%= reward.pledges.count %></strong><br>Backers</div>
				<% else %>
					<div class="tag-green"><strong><%= reward.pledges.count %></strong><br>Backers</div>
				<% end %>
				<h1><strong>Pledge <%= number_to_currency(reward.amount / 100, precision: 0) %></strong></h1>
				<p><%= reward.description %></p>
			</div>
			<div class="reward-selector">
				<h4>Log in to pledge</h4>
			</div>
		</div>
	<% end %>
<% end %>