
<div style='width:50%;margin-left:auto;margin-right:auto;'>
	<%= form_tag project_reward_charges_path(@project, @reward), id: 'payment-form' %>
	  <span class="payment-errors"></span>
	   <%= number_field_tag :card_number, nil, placeholder: 'Card Number', data: {stripe: 'number'} %>
	   <%= number_field_tag :cvc, nil, placeholder: 'CVC', size: 2, data: {stripe: 'cvc'} %>
	   <%= number_field_tag :exp_month, nil, placeholder: 'MM', size: 2, data: {stripe: 'exp-month'} %>
	   <%= number_field_tag :exp_year, nil, placeholder: 'YYYY', size: 4, data: {stripe: 'exp-year'} %>
	   <%= submit_tag 'submit', class: 'button tiny' %>


<%= form_for [@project, @reward, @pledge] do |f| %>
	<%= f.text_field :address, placeholder: 'Address' %>
	<%= f.text_field :postal_code, placeholder: 'Postal Code'%>
	<%= f.text_field :city, placeholder: 'City'%>
	<%= f.text_field :province, placeholder: 'Province'%>
	<%= f.submit 'Finalize backing', class: 'button tiny'%>
<% end %>

</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script>
	Stripe.setPublishableKey('pk_test_4SPUMHwKi43qwO7iC1VZLKSi')

	jQuery(function($) {
	  $('#payment-form').submit(function(event) {
	    var $form = $(this);

	    // Disable the submit button to prevent repeated clicks
	    $form.find('button').prop('disabled', true);

	    Stripe.card.createToken($form, stripeResponseHandler);

	    // Prevent the form from submitting with the default action
	    return false;
	  });
	});

	function stripeResponseHandler(status, response) {
  var $form = $('#payment-form');

  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};
</script>

<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<!-- Spacer - need to delete -->
<div class="row">
  <div class="small-12 columns">
    <p><br><br><br></p>
  </div>
</div>

<!-- Page header -->
<div class="row">
  <div class="small-12 text-center columns">
    <h2>Thanks for backing the project!</h2>
    <h4>Please provide shipping information for your reward!</h4>
  </div>
</div>

<div class="row">
  <div class="small-10 medium-6 large-6 small-centered columns">
    <%= form_for [@project, @reward, @pledge] do |f| %>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-home"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :address, placeholder: 'Your street address' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-address-book"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :postal_code, placeholder: 'Your postal' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-graph-bar"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :city, placeholder: 'Your city' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-mountains"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.select :province, options_for_select(['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Northwest Territories', 'Nunavut', 'Yukon']), prompt: 'Select your province' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-12 text-center columns">
        <%= f.submit "Claim your reward", class: 'button'  %>
      </div>
    </div>
    <% end %>
  </div>
</div>

