<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<!-- Spacer - need to delete -->
<div class="row">
  <div class="small-12 columns">
    <p><br><br><br></p>
  </div>
</div>

<!-- Page header -->
<div class="row">
  <div class="small-12 text-center columns">
    <h2>Thanks for backing the project!</h2>
    <h4>Please provide shipping information for your reward!</h4>
  </div>
</div>

<div class="row">
  <div class="small-10 medium-6 large-6 small-centered columns">
    <%= form_for [@project, @reward, @pledge] do |f| %>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-home"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :address, placeholder: 'Your street address' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-address-book"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :postal_code, placeholder: 'Your postal' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-graph-bar"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :city, placeholder: 'Your city' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-mountains"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.select :province, options_for_select(['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Northwest Territories', 'Nunavut', 'Yukon']), prompt: 'Select your province' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-12 text-center columns">
        <%= f.submit "Claim your reward", class: 'button'  %>
      </div>
    </div>
    <% end %>
  </div>
</div>
