<h1>Checkout</h1>

<%= form_tag project_reward_charges_path(@project, @reward) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@reward.amount / 100) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @reward.project.title %>"
          data-amount="<%= @reward.amount %>"></script>
<% end %>