<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<!-- Spacer - need to delete -->
<div class="row">
  <div class="small-12 columns">
    <p><br><br><br></p>
  </div>
</div>

<!-- Page header -->
<div class="row">
  <div class="small-12 text-center columns">
    <h2>Edit Profile</h2>
  </div>
</div>

<div class="row">
  <div class="small-10 medium-6 large-6 small-centered columns">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row collapse">
      <div class="small-2 columns">
        <br>
        <span class="prefix"><i class="fi-torso"></i></span>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">Choose an awesome user name.</span>
        <%= f.text_field :name, placeholder: current_user.name %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <br>
        <span class="prefix"><i class="fi-mail"></i></span>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">We promise not to spam you!</span>
        <%= f.text_field :email, placeholder: current_user.email %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-lock"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.password_field :password, placeholder: 'Your password' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-lock"></i></span>
      </div>
      <div class="small-10 columns">
        <%= f.password_field :password_confirmation, placeholder: 'Confirm password' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <br>
        <span class="prefix"><i class="fi-paperclip"></i></span>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">Choose your profile pic.</span>
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-12 text-center columns">
        <%= f.submit "Submit", class: 'button'  %>
      </div>
    </div>
    <% end %>
  </div>
</div>
 

