    <!-- Spacer - need to delete -->
    <div class="row">
      <div class="small-12 columns">
        <p><br><br><br></p>
      </div>
    </div>

    <!-- Page header -->
    <div class="row">
      <div class="small-12 text-center columns">
        <h2>Edit Profile</h2>
      </div>
    </div>

    <div class="row">
      <div class="small-10 medium-6 large-6 small-centered columns">
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
                <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class='field'>
            <%= f.label :avatar %>
            <%= f.file_field :avatar %>
          </div>
          <div class="row collapse">
          <div class="small-12 text-center columns">
            <%= f.submit class: 'button'  %>
          </div>
      </div>
        <% end %>
    </div>
  </div>

