<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<!-- Spacer - need to delete -->
<div class="row">
  <div class="small-12 columns">
    <p><br><br><br></p>
  </div>
</div>

<!-- Page header -->
<div class="row">
  <div class="small-12 text-center columns">
    <h2>Sign Up</h2>
  </div>
</div>

<div class="row">
  <div class="small-10 medium-6 large-6 small-centered columns">
    <%= simple_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row collapse">
        <div class="small-2 columns">
          <br>
          <span class="prefix"><i class="fi-torso"></i></span>
        </div>
        <div class="helper-msg small-10 columns">
          <span class="helpers">Choose an awesome user name.</span>
          <%= f.text_field :name, placeholder: 'Your name' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 columns">
          <br>
          <span class="prefix"><i class="fi-mail"></i></span>
        </div>
        <div class="helper-msg small-10 columns">
          <span class="helpers">We promise not to spam you!</span>
          <%= f.text_field :email, placeholder: 'Your email' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 columns">
          <span class="prefix"><i class="fi-lock"></i></span>
        </div>
        <div class="small-10 columns">
          <%= f.password_field :password, placeholder: 'Your password' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 columns">
          <span class="prefix"><i class="fi-lock"></i></span>
        </div>
        <div class="small-10 columns">
          <%= f.password_field :password_confirmation, placeholder: 'Confirm your password' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-12 text-center columns">
          <%= f.submit "Log in", class: 'button'  %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-12 text-center columns">
          <h6 class="subheader">(Forgot your password? <%= link_to 'click here', new_password_reset_path %>)</h6>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
