<h1 class="text-center">Sign Up</h1>  
  
<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>  
    <div class="error_messages">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @user.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>  
  <div class="field">  
 <form>
  <div class="row">
    <div class="six mobile-one columns">
      <label class="left inline"><%= f.label :name %></label>
    </div>
    <div class="six mobile-three columns">
        <%= f.text_field :name %> 
    </div>
  </div>
  <div class="row">
    <div class="six mobile-one columns">
      <label class="left inline"><%= f.label :email %></label>
    </div>
    <div class="six mobile-three columns">
        <%= f.text_field :email %> 
    </div>
  </div>
  <div class="row">
    <div class="six mobile-one columns">
      <label class="left inline"><%= f.label :password %> </label>
    </div>
    <div class="six mobile-three columns">
        <%= f.password_field :password %>
    </div>
  </div>
   <div class="row">
    <div class="six mobile-one columns">
      <label class="left inline"><%= f.label :password_confirmation %></label>
    </div>
    <div class="six mobile-three columns">
        <%= f.text_field :password_confirmation %> 
    </div>
  </div>
  <div class="row">
    <div class="six mobile-one columns">
      <label class="left inline"><%= f.label :email %></label>
    </div>
    <div class="six mobile-three columns">
        <%= f.text_field :email %> 
    </div>
        <%= f.submit 'Submit', class: 'beer-btn' %> 
  </div>
</form>

<% end %> 