<div class='user-container'>
	<div class='user-info-container'>
		<%= image_tag 'http://placehold.it/350x150' %>
		<%= @user.name %>
		<%= @user.description %>
	</div>
	<div class='user-project-container'>
		<ul>
		<li><%= link_to 'Backed', '#', class: 'user-link' %>(<%= @user.pledges.count %>)</li>
		<% if @user.projects.present? %>
			<li><%= link_to 'Created', '#', class: 'user-link' %>(<%= @user.projects.count %></li>
		<% end %>
		<% if @user.comments.present? %>
			<li><%= link_to 'Comments', '#', class: 'user-link' %>(<%= @user.comments.count %>)</li>
		<% end %>
		</ul>
	</div>
</div>