<div class="home-bg">
  <!-- placeholder for video? -->
</div>


<div class="row">
	<div class="small-12 text-center">
		<h2><%= @user.name %></h2>
	</div>
	<div class="small-12">
		<% if @user == current_user %>
			<div class='upload-image small-10 medium-8 large-8 small-centered columns'>
				<%= image_tag @user.avatar.profile.url %>
				<%= form_tag user_upload_image_path(@user), multipart: true do  %>
				<%= file_field_tag :avatar, class: 'avatar-upload' %>
				<p class="text-center"><%= submit_tag 'upload image', class: 'btn-green' %></p>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<div class='row'>
	<div class="small-12">
		<ul class='user-info-list'>
			<li class='user-description'><%= @user.description %></li>
			<li class='user-social'><%= link_to('twitter', @user.twitter) if @user.twitter && @user.twitter.length > 1 %></li>
			<li class='user-social'><%= link_to('facebook', @user.facebook) if @user.facebook && @user.facebook.length > 1 %></li>
			<li class='user-social'><%= link_to('website', @user.website) if @user.website && @user.website.length > 1 %></li>
		</ul>
	</div>

	<div class="small-12">
		<div class='user-projects-container'>
			<div class='user-project-nav-container'>
				<ul class='user-project-nav'>
					<% if @pledges.present? %>
						<li class='user-project-nav-item'><%= link_to 'Backed', '#', class: 'user-link' %> (<%= @pledges.count %>)</li>
					<% end %>
					<% if @projects.present? %>
						<li class='user-project-nav-item'><%= link_to 'Created', '#', class: 'user-link' %> (<%= @projects.count %>)</li>
					<% end %>
					<% if @comments.present? %>
						<li class='user-project-nav-item'><%= link_to 'Comments', '#', class: 'user-link' %> (<%= @comments.count %>)</li>
					<% end %>
					<% if @saved_projects.present? %>
						<li class='user-project-nav-item'><%= link_to 'Saved', '#', class: 'user-link' %> (<%= @saved_projects.count %>)</li>
					<% end %>
				</ul>
			</div>
			<div class='user-project-info'>
				<% if @user.pledges.present? %>
					<%= render partial: 'user_pledges' %>
				<% elsif @user.projects.present? %>
					<%= render partial: 'user_projects' %>
				<% elsif @user.comments.present? %>
					<%= render partial: 'user_comments'%>
				<% elsif @saved_projects.present? %>
					<%= render partial: 'user_saved' %>
				<% else %>
					<h4>There is no action to display for this user</h4>
				<% end %>
			</div>
		</div>
	</div>
</div>
