<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<div class='user-container'>
	<div class='user-info-container'>
		<div class='large-5 columns'>
			<%= image_tag @user.avatar.profile.url, class: 'profile-picture' %>
		</div>
		<div class='large-7 columns'>
			<div class='user-info'>
				<ul class='user-info-list'>
					<li class='user-name'><%= @user.name %></li>
					<li class='user-description'><%= @user.description %></li>
				</ul>
			</div>
		</div>
		<% if @user == current_user %>
			<div class='saved-projects'>
				<h6>Your saved projects</h6>
				<ul>
					<% @saved_projects.each do |project| %>
						<li><%= link_to project.title, project %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		
	</div>
	<div class='user-projects-container'>
		<div class='user-project-nav-container'>
			<ul class='user-project-nav'>
				<% if @user.pledges.present? %>
					<li class='user-project-nav-item'><%= link_to 'Backed', '#', class: 'user-link' %> (<%= @user.pledges.count %>)</li>
				<% end %>
				<% if @user.projects.present? %>
					<li class='user-project-nav-item'><%= link_to 'Created', '#', class: 'user-link' %> (<%= @user.projects.count %>)</li>
				<% end %>
				<% if @user.comments.present? %>
					<li class='user-project-nav-item'><%= link_to 'Comments', '#', class: 'user-link' %> (<%= @user.comments.count %>)</li>
				<% end %>
			</ul>
		</div>
		<div class='user-project-info'>
			<% if @user.pledges.present? %>
				<%= render 'user_pledges' %>
			<% elsif @user.projects.present? %>
				<%= render 'user_projects' %>
			<% elsif @user.comments.present? %>
				<%= render 'user_comments' %>
			<% else %>
				<h4>There is no action to display for this user</h4>
			<% end %>
		</div>
	</div>
</div>