  <div class="fade"><img src="/img/fade2.png"></div>

  <video autoplay loop poster="/img/logo01.png" id="bgvid">
    <source src="/img/BeerPour.webm" type="video/webm">
    <source src="/img/BeerPour.mp4" type="video/mp4">
    <source src="/img/BeerPour.ogv" type="video/ogv">
  </video>

  <div class="row">
    <div class="small-12">
      <div class="slider" style="height: 350px;">
        <div>
          <div style="margin: 75px 0 0 75px;">
            <h1>Boxing Cat</h1>
            <button class="small" style="margin-left: 35px;">Please fund me</button>
          </div>
        </div>
         <div>
          <div style="margin: 75px 0 0 75px;">
            <h1>Some needy brewery</h1>
            <button class="small" style="margin-left: 35px;">Please fund me</button>
          </div>
        </div>
        <div>
          <div style="margin: 75px 0 0 75px;">
            <h1>Some needy brewery</h1>
            <button class="small" style="margin-left: 35px;">Please fund me</button>
          </div>
        </div>
        <div>
          <div style="margin: 75px 0 0 75px;">
            <h1>Some needy brewery</h1>
            <button class="small" style="margin-left: 35px;">Please fund me</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="small-11 columns small-centered">
    <%= render partial: "featured", collection: @most_funded %>
    </div>
  </div>
  

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <div class="small-7 columns">
            <h4>Get your brewery funded today!</h4>
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="small-3 columns">
            <br>
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 
   <div data-lat="<%= @projects.first.latitude %>" data-long = "<%= @projects.first.longitude %>" data-geo='<%= @geojson %>' id="map"></div>

   <%= javascript_tag do %> 
   
    var longitude = $('#map').data('long');
    var latitude = $('#map').data('lat');
    var geo = $('#map').data('geo');

    var map = L.mapbox.map('map', 'dhurley99.ipn4bc66').setView([latitude, longitude], 13); 
     <% @projects.each do |p| %>

         L.mapbox.featureLayer({
          // this feature is in the GeoJSON format: see geojson.org
          // for the full specification
          type: 'Feature',
          geometry: {
            type: 'Point',
            // coordinates here are in longitude, latitude order because
            // x, y is the standard for GeoJSON and many formats
            coordinates: [
              <%= p.longitude %>,
              <%= p.latitude  %>
            ]
          },
          properties: {
            title: "<%= p.title %>",
            description: "<%= p.short_blurb %>",
            // one can customize markers by adding simplestyle properties
            // https://www.mapbox.com/foundations/an-open-platform/#simplestyle
            'marker-size': 'large',
            'marker-color': '#BE9A6B',
            'marker-symbol': 'beer'
          }
        }).addTo(map);
       
     <% end %>
   <% end %>

  <script>
  $(document).ready(function() {

    // Rollover logo
    $('.logo').mouseover(function() {
      $(this).addClass('animated tada');
    });

    // Rollout logo
    $('.logo').mouseleave(function() {
      $(this).removeClass('animated tada');
    });

    // Rollover featured
    $('.featured').mouseover(function() {
      $(this).addClass('animated infinite pulse');
    });

    // Rollout featured
    $('.featured').mouseleave(function() {
      $(this).removeClass('animated pulse');
    });

    // takes a collection of .progress-bar divs and animates them
    function progressDraw($element) {
      for(x = 0; x < $element.length; ++x) {
        _self = $element[x];
        amount = $(_self).data('funded');
        progressWidth = amount * $element.width() / 100;
        $(_self).find('div').animate({ width: progressWidth }, 1250);
      };
    };

  });
  </script>



