<ul class='category-list'>
	<li><%= link_to 'all', project_category_path('all'), class: 'sort' %></li>
	<li><%= link_to 'pubs', project_category_path('pubs'), class: 'sort' %></li>
	<li><%= link_to 'distillaries', project_category_path('distillaries'), class: 'sort' %></li>
	<li><%= link_to 'beers', project_category_path('beers'), class: 'sort' %></li>
	<li><%= link_to 'breweries', project_category_path('breweries'), class: 'sort' %></p></li>
</ul>