<li><%= link_to 'all', project_category_path('all'), class: 'sort' %></li>
<li><%= link_to 'Brew Pub', project_category_path('Brew Pubs'), class: 'sort' %></li>
<li><%= link_to 'Contract Breweries', project_category_path('Contract Breweries'), class: 'sort' %></li>
<li><%= link_to 'Microbreweries', project_category_path('Microbreweries'), class: 'sort' %></li>
<li><%= link_to 'Nanobreweries', project_category_path('Nanobreweries'), class: 'sort' %></li>