<div class="small-12 panel bg-white columns text-right">

		<p class='stat-text'><span class='stat-number'><%= @project.pledges.count %></span><br>backers</p>
		<p class='stat-text'><span class='stat-number'><%= number_to_currency(@project.funded_amount / 100, precision: 0) %></span><br> pledged of <%= number_to_currency(@project.goal / 100, precision: 0) %> goal</p>
		<p class='stat-text'><span class='stat-number'><%= @days_left %></span><br> days left </p>
		<p class="text-left">This project will only be funded if at least <%= number_to_currency(@project.goal / 100, precision: 0) %> CAD is pledged by <%= @end_date  %>. </p>
</div>

<div class="small-12 panel no-padding bg-white columns">
	<% @rewards.each do |reward| %>
	<%= link_to project_reward_path(@project, reward) do%>
		<div class='reward-container'>
			<div class="reward-description">
				<p>Backers: <%= reward.pledges.count %></p>
				<p><%= number_to_currency(reward.amount / 100, precision: 0) %></p>
				<p><%= reward.description %></p>
			</div>
			<div class="reward-selector">
				<h4>Select this reward</h4>
			</div>
		</div>
		<% end %>
	<% end %>
</div>

<style type="text/css">
	
.no-padding {
	padding: 0;
}
</style>
<script type="text/javascript">
		$('.reward-container').on('mouseover', function() {
					$(this).find('h4').addClass('animated tada');
		});

</script>