<div class='project-card'>
	<%= image_tag 'http://www.beerbasics.com/storage/BlueMoonLabel.jpg', class: 'beer-image' %>
	<p class='project-title-index'><%= link_to project.title, project %></p>
	<p class='project-creator-index'>By: <%= link_to project.user.name, project.user  %></p>
	<p class='days-left-index'>Days Left: <%= ((project.end_date - Time.now)/(60 * 60 * 24)).round %></p>
	<p class='funded-index'>Funded: <%= number_to_percentage(project.goal / project.funded_amount, precision: 0) %></p>
</div>

