<div class="small-12 stat-panel text-right">
		<p><span><%= @project.pledges.count %></span><br>backers</p>
		<hr>
		<p><span><%= number_to_currency(@project.funded_amount / 100, precision: 0) %></span><br> pledged of <%= number_to_currency(@project.goal / 100, precision: 0) %> goal</p>
		<hr>
		<p><span><%= @project.days_left %></span><br> days left </p>
</div>
<p class="text-left" style='font-size:0.8rem;'>This project will only be funded if at least <%= number_to_currency(@project.goal / 100, precision: 0) %> CAD is pledged by <%= @end_date  %>. </p>

<div class="small-12 owner-panel text-center">
		<h6>Project by</h6>
		<p><%= image_tag @project.user.avatar, size: '100x100' %></p>
		<p><%= link_to @project.user.name, @project.user  %></p>
</div>

<div class="small-12 reward-panel">
	<%= render @rewards %>
</div>

<script>
	$('.stripe-button-el > span').text('Select Reward')
</script>