<div class='project-card'>
	<a href="<%= project_path(project) %>"><%= image_tag 'http://www.beerbasics.com/storage/BlueMoonLabel.jpg', class: 'beer-image' %></a>
	<p class='project-title-index'><%= link_to project.title, project %></p>
	<p class='project-creator-index'>By: <%= project.user.name  %></p>
	<p class='project-description-index'><%= truncate(project.description, length: 100) %></p>
	<div class='stats'>
		<div class='info-container'>
			<p class='info-index'><span class='metric'><%= ((project.end_date - Time.now)/(60 * 60 * 24)).round %></span><br> days left</p>
		</div>
		<div class='info-container'>
			<p class='info-index'><span class='metric'><%= number_to_percentage(project.goal / project.funded_amount, precision: 0) %></span><br> funded</p>
		</div>
		<div class='info-container'>
			<p class='info-index'><span class='metric'><%= number_to_currency(project.funded_amount / 100, precision: 0) %></span><br> pledged</p>
		</div>
	</div>
</div>

