<div class="small-12 stat-panel text-right">
	<p><span><%= @project.pledges.count %></span><br>backers</p>
	<hr>
	<p><span><%= number_to_currency(@project.funded_amount / 100, precision: 0) %></span><br> pledged of <%= number_to_currency(@project.goal / 100, precision: 0) %> goal</p>
	<hr>
	<p><span><%= @project.days_left %></span><br> days left</p>
</div>

<p></p>

<div class="small-12 owner-panel text-center">
	<h6>Presented by</h6>
	<p><%= link_to image_tag(@project.logo), @project.user %></p>
	<p><%= link_to @project.user.name, @project.user  %></p>

	<% if @project.user.website && @project.user.website.length > 1 %>
		<div class="owner-link">
			<%= link_to @project.user.website %>
		</div>
	<% end %>

	<% if @project.user.facebook %>
		<p>
		<%= link_to @project.user.facebook, class: 'btn-social-sm' do %>
			<i class="fi-social-facebook"></i>Facebook
		<% end %>
	<% end %>

	&nbsp;

	<% if @project.user.twitter %>
		<%= link_to @project.user.twitter, class: 'btn-social-sm' do %>
			<i class="fi-social-twitter"></i>Twiiter
		<% end %>
		</p>
	<% end %>
</div>

<hr>

<div class="small-12">
	<!-- Twitter -->
	<div class="reward-container panel">
		<div class="reward-description" style="overflow: hidden;">
			<h2>Pledge a Tweet!</h2>
			<span class="tweet-backers">
				<i class='fi-torsos'></i> <%= pluralize(@project.twitter_reward.pledges.count,'backer') %>
			</span>
			<% if current_user %>
				<a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fbrewgarden.ca%2Fprojects%2F<%= @project.id %>&text=<%= @project.twitter_reward.encode_message %>&hashtags=<%= @project.twitter_reward.update_hashtags %>">
					<div class="reward-selector"><h4>Pledge a Tweet!</h4></div>
				</a>
				<div class="twitter">
				  <i class="fi-social-twitter"></i>
				</div>
			<% else %>
				<a href="#" data-reveal-id="login">
					<div class="reward-selector"><h4>Log in to Tweet!</h4></div>
				</a>
				<div class="twitter">
				  <i class="fi-social-twitter"></i>
				</div>
			<% end %>
		</div>
	</div>
	<!-- Rewards -->
	<%= render @rewards %>
</div>

<script type="text/javascript">
	window.twttr = (function (d,s,id) {
	  var t, js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
	  js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
	  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
	}(document, "script", "twitter-wjs"));

	twttr.ready(function (twttr) {
	  // Now bind our custom intent events
	  twttr.events.bind('tweet', function(data) {
	  	$.post("<%= twitter_pledge_path(@project, @twitter_reward) %>")
	  		.done( function(data){
	  			console.log(data)
	  			$('.tweet-backers').text(data);
	  		});
	  });
	});
</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_4SPUMHwKi43qwO7iC1VZLKSi',
    image: '/square-image.png',
    token: function(token) {
      // $.post('/projects/<%= @project.id %>/rewards/:reward_id/charges');
    }
  });

  $(document).ready(function() {
    $('.stripe').on('click', function(e) {
      amount = $(this).data('amount');
      desc = $(this).data('stripe-desc');
      console.log(amount);
      handler.open({
        name: '<%= @project.title %>',
        description: desc,
        amount: amount
      });
      e.preventDefault();
    });
  });
</script>