<div class="small-12 stat-panel text-right">
		<p><span><%= @project.pledges.count %></span><br>backers</p>
		<hr>
		<p><span><%= number_to_currency(@project.funded_amount / 100, precision: 0) %></span><br> pledged of <%= number_to_currency(@project.goal / 100, precision: 0) %> goal</p>
		<hr>
		<p><span><%= @project.days_left %></span><br> days left </p>
</div>
<p class="text-left" style='font-size:0.8rem;'>This project will only be funded if at least <%= number_to_currency(@project.goal / 100, precision: 0) %> CAD is pledged by <%= @end_date  %>. </p>

<div class="small-12 owner-panel text-center">
		<h6>Project by</h6>
		<p><%= image_tag @project.user.avatar, size: '100x100' %></p>
		<p><%= link_to @project.user.name, @project.user  %></p>
</div>


<div class="small-12 reward-panel">
	
	<!-- Twitter -->
	<div class='reward-container'>
		<div class='reward-description'>
			<strong>Pledge a Tweet!</strong> 
			<div id="custom-tweet-button" data-user="<%= current_user.email %>">
			  <a  class='project-logo'  href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fbrewgarden.ca%2Fprojects%2F<%= @project.id %>&text=support%20your%20brewery%20with%20a%20creative%20tweet&hashtags=brewgarden,boob"></a>
			</div>	
		</div>
	</div>
	<br>
	
	<%= render @rewards %>
</div>

<script type="text/javascript">
	window.twttr = (function (d,s,id) {
	  var t, js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
	  js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
	  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
	}(document, "script", "twitter-wjs"));
 

	twttr.ready(function (twttr) {
	  // Now bind our custom intent events
	  twttr.events.bind('tweet', function(data) {
	  	console.log(data);
	  	alert('you tweeted');
	  	var user = $('#custom-tweet-button').data('user');
	  	alert(user);
	  });
  
	});
</script>