<div class="small-12 panel columns">
  <div class="row">
    <div class="small-2 columns">
      <br>
      <%= f.label :amount, class: 'right inline' %>
    </div>
    <div class="helper-msg small-10 columns">
      <span class="helpers">How much does a person have to pledge to recieve a reward.</span>
      <%= f.number_field :amount, placeholder: 'Reward amount' %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <br>
      <%= f.label :description, class: 'right inline' %>
    </div>
    <div class="helper-msg small-10 columns">
      <span class="helpers">What the reward? Be creative!</span>
      <%= f.text_area :description, placeholder: 'Reward Description' %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <br>
      <%= f.label :pledges_left, 'Backers', class: 'right inline' %>
    </div>
    <div class="helper-msg small-10 columns">
      <span class="helpers">How many rewards are available?</span>
      <%= f.text_field :pledges_left, placeholder: 'Max number of backers' %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">

      <%= f.label :shipping, 'Do this reward require shipping?', class: 'right inline' %>
    </div>
    <div class="small-6 columns">
      <br>
      <%= f.check_box :shipping %>
      <br>
       <span class="helpers">ookkkkk</span>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns text-right">
      <%= link_to_remove_association 'remove reward', f, class: "button tiny" %>
    </div>
  </div>
</div>