<div class="slider">
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg" style="height: 350px" /></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg" style="height: 350px" /></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg" style="height: 350px" /></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg" style="height: 350px" /></div>
  </div>
</div>
<!-- Facebook -->
<div class="fb-share-button" data-href="/<%= projects_path(@project) %>" data-width="100"></div>

<!-- Twitter -->
<a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="large" data-count="none">Tweet</a>
<hr>
<p><%= raw(@project.description) %></p>

<!-- mapbox -->
<div data-lat="<%= @project.latitude %>" data-long = "<%= @project.longitude %>" data-title="<%= @project.title %>" data-description="<%= @project.short_blurb %>" id='map'></div>

<script type="text/javascript">

    // initalize for mapbox
    var longitude = $('#map').data('long');
    var latitude = $('#map').data('lat');
    var title = $('#map').data('title');
    var short_blurb = $('#map').data('short_blurb');

    // 12 is the zoom
    var map = L.mapbox.map('map', 'dhurley99.ipn4bc66').setView([latitude, longitude], 13);

   L.mapbox.featureLayer({
      // this feature is in the GeoJSON format: see geojson.org
      // for the full specification
      type: 'Feature',
      geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [
          longitude,
          latitude
        ]
      },
      properties: {
        title: title,
        description: short_blurb,
        // one can customize markers by adding simplestyle properties
        // https://www.mapbox.com/foundations/an-open-platform/#simplestyle
        'marker-size': 'large',
        'marker-color': '#BE9A6B',
        'marker-symbol': 'beer'
      }
    }).addTo(map);

</script>