<div class="slider">
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
</div>
<!-- Facebook -->
<div class="fb-share-button" data-href="/<%= projects_path(@project) %>" data-width="100"></div>

<!-- Twitter -->
<a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="large" data-count="none">Tweet</a>
<hr>
<p><%= raw(@project.description) %></p>

<div data-lat="<%= @project.latitude %>" data-long = "<%= @project.longitude %>" data-title="<%= @project.title %>" data-description="<%= @project.description %>" id='map'></div>