<div class="slider">
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
</div>
<hr>
<p><%= raw(@project.description) %></p>

<div data-lat="<%= @project.latitude %>" data-long = "<%= @project.longitude %>" data-title="<%= @project.title %>" data-description="<%= @project.description %>" id='map'></div>