<div class="slider">
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
  <div>
    <div><img src="/img/teaser0<%= rand(1..4) %>.jpg"/></div>
  </div>
</div>
<hr>
<p><%= raw(@project.description) %></p>