<h3>Categories</h3>
<ul class='category-list'>
	<li><%= link_to 'all', '#', class: 'sort' %></li>
	<li><%= link_to 'pubs', '#', class: 'sort' %></li>
	<li><%= link_to 'distillaries', '#', class: 'sort' %></li>
	<li><%= link_to 'beers', '#', class: 'sort' %></li>
	<li><%= link_to 'breweries', '#', class: 'sort' %></p></li>
</ul>

<div class='project-index'>
	<div class='most_funded'>
		<h1>Most Funded</h1>
		<%= render partial: 'project', collection: @most_funded %>
	</div>
	<div class='newest'>
		<h1>Newest Campaigns</h1>
		<%= render partial: 'project', collection: @newest %>
	</div>
</div>

