<h3>Total Funded To Date: <%= number_to_currency(@total_funding / 100) %></h3>

<%= form_tag '#', method: 'get' do  %>
	<%= text_field_tag :q, nil, placeholder: 'Search by name..' %>
	<%= submit_tag, class: 'button tiny sort'%>
<% end %>

<h3>Categories</h3>
<ul class='category-list'>
	<li><%= link_to 'all', '#', class: 'sort' %></li>
	<li><%= link_to 'pubs', '#', class: 'sort' %></li>
	<li><%= link_to 'distillaries', '#', class: 'sort' %></li>
	<li><%= link_to 'beers', '#', class: 'sort' %></li>
	<li><%= link_to 'breweries', '#', class: 'sort' %></p></li>
</ul>

<div class='project-index'>
	<div class='most_funded'>
		<h1>Most Funded</h1>
		<%= render partial: 'project', collection: @most_funded %>
	</div>
	<div class='newest'>
		<h1>Newest Campaigns</h1>
		<%= render partial: 'project', collection: @newest %>
	</div>
	<div class='near'>
		<h1>Near Toronto</h1>
		<%= render partial: 'project', collection: @near %>
	</div>
</div>


