<!-- Spacer - need to delete -->
<div class="row">
	<div class="small-12 columns">
		<p><br><br><br></p>
	</div>
</div>

<!-- Page header -->
<div class="row">
	<div class="small-12 columns">
		<h2>Discover Projects</h2>
	</div>
</div>

<div class="row">
	<!-- Left column -->
	<div class="small-12 medium-12 large-10 columns">
		<!-- Search form -->
		<div class="row">
			<div class="small-12 columns">
				<%= form_tag project_search_path, class: 'search', method: 'get' do  %>
				<div class="row collapse">
	        <div class="small-10 columns">
	          <%= text_field_tag :q, nil, placeholder: "Search for..." %>
	        </div>
	        <div class="small-2 columns">
	          <%= submit_tag "search", class: 'button postfix'%>
	        </div>
	      </div>
				<% end %>
			</div>
		</div>
		<!-- Most funded row -->
		<div class="row">
			<div class="small-12 columns">
				<h5><strong>Most Funded</strong></h5>
				<hr>
			</div>
				<%= render partial: 'project', collection: @most_funded %>
		</div>
		<!-- Newest row -->
		<div class="row">
			<div class="small-12 columns">
				<h5><strong>Newest Projects</strong></h5>
				<hr>
			</div>
				<%= render partial: 'project', collection: @newest %>
		</div>
		<!-- Near you row -->
		<div class="row">
			<div class="small-12 columns">
				<div class='location-search'>
					<form class='location-form'>
						<div class='small-10 columns'>
							<%= text_field_tag :q, nil, placeholder: '  search by address or city...', class: 'location-input' %>
						</div>
						<div class='small-2 columns'>
							<input type="submit" class='button postfix'>
						</div>
					</form>
				</div>
				<div class='location-header'>
					<h5><strong>Near Toronto</strong> <%= link_to 'change location?', '#', class: 'change-location' %></h5>
				</div>
				<hr>
			</div>
			<div class='near-div'>
				<%= render partial: 'project', collection: @near %>
			</div>
		</div>
	</div>
	<!-- Right column -->
	<div class="show-for-medium-up medium-2 columns">
		<h5><strong>Categories</strong></h5>
		<ul class="side-nav">
			<%= render 'categories' %>
		</ul>
	</div>
</div>