<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<!-- Spacer - need to delete -->
<div class="row">
  <div class="small-12 columns">
    <p><br><br><br></p>
  </div>
</div>

<!-- Page header -->
<div class="row">
  <div class="small-12 columns new-project-title">
    <h3>Start your project here</h3>
    <hr>
  </div>
</div>

<!-- Start Form -->
<%= form_for @project, html: {multipart: true} do |f| %>
<div class="row">

	<div class="small-12 medium-8 large-8 columns">

    <div class="row">
      <!-- Form errors -->
      <% if @project.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class='row'>
      <div class='small-2 columns'>
        <%= f.label 'Project Logo', class: 'right inline' %>
      </div>
      <div class="small-10 columns">
        <%= f.file_field :logo %>
      </div>
    </div>

    <div class='row'>
      <div class='small-2 columns'>
        <%= f.label 'Project Images', class: 'right inline' %>
      </div>
      <div class="small-10 columns">
        <%= f.fields_for :slider_images do |r| %>
          <%= render 'slider_image_fields', :f => r %>
        <% end %>
        <div class="small-12">
        <%= link_to_add_association 'add another image', f, :slider_images, class: "button success tiny" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-2 columns">
        <br>
        <%= f.label :video_link, class: 'right inline' %>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">This is very important! Paste a Youtube link here.</span>
        <%= f.text_field :video_link, placeholder: 'Project Video Link' %>
      </div>
    </div>

	  <div class="row">
      <div class="small-2 columns">
        <br>
        <%= f.label :title, class: 'right inline' %>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">Come up with something catchy. Make this short and sweet.</span>
        <%= f.text_field :title, maxlength: 50, placeholder: 'Project title' %>
      </div>
    </div>

		<div class="row">
      <div class="small-2 columns">
        <br>
        <%= f.label :location, class: 'right inline' %>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">Choose either brewery or event location.</span>
        <%= f.text_field :location, placeholder: 'Address or Location' %>
      </div>
    </div>

    <div class="row">
      <div class="small-2 columns">
        <br>
        <%= f.label :category, class: 'right inline' %>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">ookkkkk</span>
        <%= f.select :category, options_for_select(['Brewpub', 'Contract Brewery', 'Craft Division', 'brewery']), prompt: 'Category' %>
      </div>
    </div>

    <div class="row">
      <div class="small-2 columns">
        <br>
        <%= f.label :short_blurb, class: 'right inline' %>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">Why is this promotion important?</span>
        <%= f.text_area :short_blurb, placeholder: 'Short Blurb' %>
      </div>
    </div>

    <div class="row">
      <div class="small-2 columns">
        <br>
        <%= f.label :description, class: 'right inline' %>
      </div>
      <div class="helper-msg small-10 columns" style="margin-bottom: 1em;">
        <span class="helpers">ookkkkk</span>
				<%= f.text_area :description, placeholder: 'Description', class: 'ckeditor' %>
      </div>
    </div>

    <div class="row">
      <div class="small-2 columns">
        <br>
				<%= f.label :days_left, 'Length of Campaign', class: 'right inline' %>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">We recommend 30 days but its up to you how long your promotion lasts.</span>
				<%= f.number_field :days_left, in: 20..60  %>

      </div>
    </div>

    <div class="row">
      <div class="small-2 columns">
        <br>
				<%= f.label :goal, class: 'right inline' %>
      </div>
      <div class="helper-msg small-10 columns">
        <span class="helpers">Every promotion has a goal. Let us know yours.</span>
				<%= f.number_field :goal, placeholder: 'Funding goal', min: 1000  %>
      </div>
    </div>
		<!-- Rewards -->
    <div class="row">
    	<div class="small-8 columns"><h4>Add your rewards</h4></div>
			<hr>
    </div>

      <%= f.fields_for :rewards do |r| %>
        <%= render 'reward_fields', :f => r %>
      <% end %>

      <%= link_to_add_association 'add another reward', f, :rewards, class: "button success tiny" %>
      </div>
		</div>
	</div>

  <!-- Sample project panel -->
  <div class="show-for-medium-up medium-4 large-4 columns">
    <div class="small-12 medium-12 large-12 left columns">
      <div class="project-panel">
        <div class="panel-img">
          <%= image_tag("/img/logo.png", size: "115") %>
          <p class="text-right"><small>By: <%= current_user.name  %></small></p>
        </div>
        <div class="preview-title"><h1>Your title</h1></div>
        <div class="preview-description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque temporibus molestiae error recusandae aut!</p></div>
        <p><br></p>
        <div class="row">
          <div class="small-12 columns">
            <div class="progress-bar" data-funded="0"><div></div></div>
          </div>
          <div class='small-4 text-center columns'>
            <div class='days-left metric'>0</div>
            <div class='metric-sub'>days left</div>
          </div>
          <div class='small-3 text-center columns'>
            <div class='metric'>0%</div>
            <div class='metric-sub'>funded</div>
          </div>
          <div class='small-5 text-center columns'>
            <div class='metric'>$0.00</div>
            <div class='metric-sub'>pledged</div>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 text-center columns">
      <%= f.submit 'Save', class:'button large' %>
      <%= link_to 'Post', '#', disabled: true, class:'button large' %>
    </div>
  </div>
<% end %>
</div>






