<% @project.errors.full_messages.each do |message| %>
	<p><%= message %></p>
<% end %>

<%= form_for (@project, html: {multipart: true}) do |f| %>

		<%= f.text_field :title, placeholder: 'Title' %>
		<%= f.file_field :image %>
		<%= f.text_field :location, placeholder: 'Address or Location' %>
		<%= f.select :category, options_for_select(['Brewpub', 'Contract Brewery', 'Craft Division', 'brewery']), prompt: 'Category' %>
		<%= f.text_area :description, placeholder: 'Description' %>
		<%= f.date_field :end_date %>
		<%= f.number_field :goal, placeholder: 'Funding goal' %>


	<h3>Rewards</h3>
	<div class='rewards'>
		<%= f.fields_for :rewards do |r| %>
			<%= render 'reward_fields', :f => r %>
		<% end %>
			<%= link_to_add_association 'add reward', f, :rewards, :id => "add-reward" %>
	</div>
	<%= f.submit 'Submit', class:'button tiny' %>
<% end %>
<script type="text/javascript">


</script>