<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<!-- Spacer - need to delete -->
<div class="row">
  <div class="small-12 columns">
    <p><br><br><br></p>
  </div>
</div>

<!-- Page header -->
<div class="row">
  <div class="small-12 columns new-project-title">
    <h3>Start your project here</h3>
    <hr>
  </div>
</div>

<!-- Start Form -->
<%= form_for @project, html: {multipart: true} do |f| %>
<div class="row">
	<div class="small-12 medium-8 large-8 columns">
    <div class="row">
      <!-- Form errors -->
      <% if @project.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class='row'>
      <div class='small-3 columns'>
        <%= f.label 'Project Logo', class: 'right inline' %>
      </div>
      <div class="small-9 columns">
        <div class="small-12">
          <%= f.file_field :logo, class: 'logo-input' %>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='small-3 columns'>
        <%= f.label 'Project Images', class: 'right inline' %>
      </div>
      <div class="small-9 columns">
        <%= f.fields_for :slider_images do |r| %>
          <%= render 'slider_image_fields', :f => r %>
        <% end %>
        <div class="small-12 columns">
          <%= link_to_add_association 'add another image', f, :slider_images, class: "btn-light-green-sm" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <br>
        <%= f.label :video_link, class: 'right inline' %>
      </div>
      <div class="helper-msg small-9 columns">
        <span class="helpers">Paste a Youtube link to your video here. This is a very important aspect of your campaign!</span>
        <%= f.text_field :video_link, placeholder: 'Project Video Link' %>
      </div>
    </div>
	  <div class="row">
      <div class="small-3 columns">
        <br>
        <%= f.label :title, class: 'right inline' %>
      </div>
      <div class="helper-msg small-9 columns">
        <span class="helpers">This is the title for your campaign. What are you raising money for?</span>
        <%= f.text_field :title, maxlength: 50, placeholder: 'Project title' %>
      </div>
    </div>
		<div class="row">
      <div class="small-3 columns">
        <br>
        <%= f.label :location, class: 'right inline' %>
      </div>
      <div class="helper-msg small-9 columns">
        <span class="helpers">Where are you located?</span>
        <%= f.text_field :location, placeholder: 'Address or Location' %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <br>
        <%= f.label :category, class: 'right inline' %>
      </div>
      <div class="helper-msg small-9 columns">
        <span class="helpers">ookkkkk</span>
        <%= f.select :category, options_for_select(['Brewpub', 'Contract Brewery', 'Craft Division', 'brewery']), prompt: 'Category' %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <br>
        <%= f.label :short_blurb, class: 'right inline' %>
      </div>
      <div class="helper-msg small-9 columns">
        <span class="helpers">This is a brief project explanation for your project card.</span>
        <%= f.text_area :short_blurb, placeholder: 'Short Blurb' %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <br>
        <%= f.label :description, 'Project Description', class: 'right inline' %>
      </div>
      <div class="helper-msg small-9 columns" style="margin-bottom: 1em;">
        <span class="helpers">ookkkkk</span>
				<%= f.text_area :description, placeholder: 'Description', class: 'ckeditor' %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <br>
				<%= f.label :days_left, 'Length of Campaign', class: 'right inline' %>
      </div>
      <div class="helper-msg small-9 columns">
        <span class="helpers">We recommend at least 30 days but anywhere between 20 and 60 days is allowed.</span>
				<%= f.number_field :days_left, in: 20..60  %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <br>
				<%= f.label :goal, class: 'right inline' %>
      </div>
      <div class="helper-msg small-9 columns">
        <span class="helpers">How much money are you looking to raise?</span>
				<%= f.number_field :goal, placeholder: 'Funding goal', min: 1000  %>
      </div>
    </div>

    <!-- Rewards -->
    <div class="row">
    	<div class="small-8 columns"><h4>Add your rewards</h4></div>
			<hr>
    </div>
    <div class="small-12 columns" id="tasks">
      <div>
        <%= f.fields_for :rewards do |r| %>
          <%= render 'reward_fields', :f => r %>
        <% end %>
        <%= link_to_add_association 'add another reward', f, :rewards, class: "btn-light-green-sm right" %>
      </div>
    </div>

    <!-- Tweet Reward -->
    <div class="row">
      <div class="small-12 columns"><h4>Twitter reward</h4></div>
        <hr>
    </div>
    <div class="small-12 columns">
      <div>
        <div class="small-12 panel columns">
          <div class="row">
            <div class="small-2 columns">
              <br>
              <%= f.fields_for :twitter_reward do |r| %>
                <%= r.label :message, 'Message', class: 'right inline' %>
            </div>
            <div class="helper-msg small-10 columns">
              <span class="helpers">What do you want the tweets to say?</span>
              <%= r.text_field :message %>
            </div>
          </div>
          <div class="row">
            <div class="small-2 columns">
              <br>
              <%= r.label :hashtags, 'Hashtags', class: 'right inline' %>
            </div>
            <div class="helper-msg small-10 columns">
              <span class="helpers">Pick some hashtags. Seperate each with a comma.</span>
              <%= r.text_field :hashtags %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sample project panel -->
  <div class="show-for-medium-up fixed-pos medium-4 large-4 text-center columns">
    <%= render 'project_card_preview' %>
    <p>This will not post your project, only save it.</p>
    <div class='save'>
      <%= f.submit 'Save', class:'button large' %>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $(window).scroll(function(e){
    el = $('.fixed-pos');
    if ($(this).scrollTop() > 200 && el.css('position') != 'fixed'){
      el.css({'position': 'fixed', 'right': '15px', 'top': '0px'});
    }
    if ($(this).scrollTop() < 200 && el.css('position') == 'fixed'){
      $(el).css({'position': 'static', 'top': '0px'});
    }
  });
});
</script>
<% end %>







