<!-- Spacer - need to delete -->
<div class="row">
	<div class="small-12 columns">
		<p><br><br><br></p>
	</div>
</div>

<div class="row">
	<!-- Left column -->
	<div class="small-12 medium-12 large-10 columns">
		<!-- Search form -->
		<div class="row">
			<div class="small-12 columns">
				<%= form_tag project_search_path, class: 'search', method: 'get' do  %>
				<div class="row collapse">
	        <div class="small-10 columns">
	          <%= text_field_tag :q, nil, placeholder: "#{@search}", class: 'search-input' %>
	        </div>
	        <div class="small-2 columns">
	          <%= submit_tag "search", class: 'button postfix'%>
	        </div>
	      </div>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns results-title">
				<% if @location_results.present? %>
					<h4>We found <%= pluralize(@location_results.length, 'project') %> near <%= @location %></h4>
				<% else %>
					<h4>We found <%= pluralize(@results.count, 'result') %> relating to "<%= @search.capitalize %>"</h4>
				<% end %>
			</div>
		</div>
		<!-- Search results -->
		<div class="row">
			<div class="small-12 columns">
				<h5><strong>Search results</strong></h5>
				<hr>
			</div>
			<div class='category-container'>
				<%= render partial: 'project', collection: @location_results %>
				<%= render partial: 'project', collection: @results %>
			</div>
		</div>
	</div>
	<!-- Right column -->
	<div class="show-for-medium-up medium-2 columns">
		<h5><strong>Categories</strong></h5>
		<ul class="side-nav">
			<%= render 'categories' %>
		</ul>
	</div>
</div>
