<h1><%= @project.title %></h1>
<p>Total Backers: <%= @project.pledges.count %></p>
<p>Goal: <%= @project.goal %></p>
<p>Funded amount: <%= number_to_currency(@project.funded_amount / 100) %></p>
<p>Description: <%= raw(@project.description) %></p>

<h3>Rewards</h3>
<% @rewards.each do |reward| %>
	<div class='reward'>
		<p>Backers: <%= reward.pledges.count %></p>
		<p><%= number_to_currency(reward.amount / 100) %></p>
		<p><%= reward.description %></p>
		<p><%= link_to "View Reward", project_reward_path(@project, reward) %></p>
	</div>	
	<br>
	<br>
	<br>
	<br>

<% end %>