
<!-- Project Details -->

<div class='project-title-container'>
	<h2 class='project-show-title'><%= @project.title %></h2>
	<h4 class='project-show-creator'>by <%= link_to @project.user.name, @project.user %></h4>
</div>

<%= render 'projects/project_links' %>

<div class='project-show-container'>
	<%= render 'show_info' %>
</div>



	<!-- MapBox -->


	<div data-lat="<%= @project.latitude %>" data-long = "<%= @project.longitude %>" data-title="<%= @project.title %>" data-description="<%= @project.description %>" id='map'>

	</div>

 <style type="text/css">

		#map {
			width: 90%;
			height: 400px;
			margin: auto;
		}

 </style>

<script>

	initMapDisplay();

</script>
