<!-- Spacer - need to delete -->
<div class="row">
	<div class="small-12 columns">
		<p><br><br><br></p>
	</div>
</div>

<!-- Page header -->
<div class="row">
	<div class="small-12 columns text-center">
		<h2><strong><%= @project.title %></strong></h2>
		<h5>by <%= link_to @project.user.name, @project.user %></h5>
		<hr>
	</div>
</div>

<!-- Project nav -->
<div class="row">
	<div class="small-1 medium-1 large-2 columns">&nbsp;</div>
	<div class="small-10 medium-10 large-8 columns">
		<%= render 'projects/project_links' %>
	</div>
	<div class="small-1 medium-1 large-2 columns">&nbsp;</div>
</div>

<!-- Project panel -->
<div class="row collapse">
	<div class="small-12 columns panel lg-project-panel">
		<!-- progress-bar -->
		<div class="small-12 columns">
			<br>
			<div class="progress-bar" data-funded="<%= ((@project.funded_amount.to_f / @project.goal.to_f) * 100).round %>"><div class="progress-div"></div></div>
			<div class="percent">22%</div>
		</div>
		<!-- slider/description -->
		<div class="small-12 medium-9 large-9 columns project-container">
			<iframe width="640" height="360" src="//www.youtube.com/embed/M7lc1UVf-VE?feature=player_embedded&color=white" frameborder="0" allowfullscreen></iframe>
			<%= render 'show_info' %>
		</div>
		<!-- sidebar -->
		<div class="small-12 medium-3 large-3 columns">
			<%= render 'project_sidebar' %>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script>
	function initMapDisplay() {
	 	// hide "add reward button after it's clicked 5 times"
	  var rewardCount = 0;
	  $('#add-reward').click(function() {
			rewardCount++;
			if(rewardCount >= 5) {
					$(this).hide(); //could disable the button here
			}
	  })

		// initalize for mapbox
		var longitude = $('#map').data('long');
		var latitude = $('#map').data('lat');
		var title = $('#map').data('title');
		var description = $('#map').data('description');
		// 12 is the zoom
		var map = L.mapbox.map('map', 'dhurley99.ipn4bc66').setView([latitude, longitude], 13);
		// add pin to project show page
		L.mapbox.featureLayer({
	    // this feature is in the GeoJSON format: see geojson.org
	    // for the full specification
	    type: 'Feature',
	    geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [
          longitude,
          latitude
        ]
	    },
	    properties: {
        title: title,
        description: description,
        // one can customize markers by adding simplestyle properties
        // https://www.mapbox.com/foundations/an-open-platform/#simplestyle
        'marker-size': 'large',
        'marker-color': '#BE9A6B',
        'marker-symbol': 'beer'
	    }
		}).addTo(map);
	}

	initMapDisplay();
</script>