<!-- Spacer - need to delete -->
<div class="row">
	<div class="small-12 columns">
		<p><br><br><br></p>
	</div>
</div>

<!-- Page header -->
<div class="row">
	<div class="small-12 columns text-center">
		<h2><strong><%= @project.title %></strong></h2>
		<h5>by <%= link_to @project.user.name, @project.user %></h5>
		<hr>
	</div>
</div>

<!-- Project nav -->
<div class="row">
	<div class="small-1 medium-1 large-2 columns">&nbsp;</div>
	<div class="small-10 medium-10 large-8 columns">
		<%= render 'projects/project_links' %>
	</div>
	<div class="small-1 medium-1 large-2 columns">&nbsp;</div>
</div>

<!-- Project panel -->
<div class="row collapse">
	<div class="small-12 columns panel">
		<div class="small-9 columns">
			<%= render 'show_info' %>
		</div>
		<div class="small-3 columns">

			<%= render 'project_sidebar' %>

		</div>
		<div class="clear"></div>
	</div>
</div>


	<!-- MapBox -->


	<div data-lat="<%= @project.latitude %>" data-long = "<%= @project.longitude %>" data-title="<%= @project.title %>" data-description="<%= @project.description %>" id='map'>

	</div>

 <style type="text/css">

		#map {
			width: 90%;
			height: 400px;
			margin: auto;
		}

 </style>

<script>
$(document).ready(function() {

  $('.slider').slick({
    dots: true,
    speed: 500,
    autoplay: false
  });

});

	// initMapDisplay();

</script>
