<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<!-- Spacer - need to delete -->
<div class="row">
	<div class="small-12 columns">
		<p><br><br><br></p>
	</div>
</div>

<!-- Page header -->
<div class="row">
	<div class="small-12 columns text-center">
		<h2><strong><%= @project.title %></strong></h2>
		<h5>by <%= link_to @project.user.name, @project.user %></h5>
		<hr>
	</div>
</div>

<!-- Project nav -->
<div class="row">
	<div class="small-1 medium-1 large-2 columns">&nbsp;</div>
	<div class="small-10 medium-10 large-8 columns">
		<%= render 'projects/project_links' %>
	</div>
	<div class="small-1 medium-1 large-2 columns">&nbsp;</div>
</div>

<!-- Project panel -->
<div class="row collapse">
	<div class="small-12 columns panel lg-project-panel">
		<!-- progress-bar -->
		<div class="small-12 columns">
			<br>
			<% if ((@project.funded_amount.to_f / @project.goal.to_f) * 100) < 100 %>
				<div class="progress-bar" data-funded="<%= ((@project.funded_amount.to_f / @project.goal.to_f) * 100).round %>"><div class="progress-div"></div></div>
			<% else %>
				<div class="progress-bar" data-funded="100"><div class="progress-div"></div></div>
			<% end %>
			<div class='percent'></div>
		</div>
		<!-- slider/description -->
		<div class="small-12 medium-9 large-9 columns project-container">
			<% if @project.video_link %>
				<iframe width="700" height="400" src="<%= @project.video_link %>" frameborder="0" allowfullscreen></iframe>
			<% end %>
			<%= render 'show_info' %>
		</div>
		<!-- sidebar -->
		<div class="small-12 medium-3 large-3 columns">
			<%= render 'project_sidebar' %>
		</div>
		<div class="clear"></div>
	</div>
</div>




