<h1><%= @project.title %></h1>
<p>Goal: <%= @project.goal %></p>
<p>Funded amount: <%= number_to_currency(@project.funded_amount / 100) %></p>
<p>Description: <%= @project.description %></p>

<h3>Rewards</h3>
<% @rewards.each do |reward| %>

	<a href="<%= project_reward_path(@project,reward) %>">
		<div class='reward'>
			<p><%= number_to_currency(reward.amount / 100) %></p>
			<p><%= reward.description %></p>
		</div>	
	</a>
	<br>
	<br>
	<br>
	<br>

<% end %>