
<!-- Project Details -->

<div class='project-title-container'>
	<h2 class='project-show-title'><%= @project.title %></h2>
	<h4 class='project-show-creator'>by <%= link_to @project.user.name, @project.user %></h4>
</div>

<%= render 'projects/project_links' %>
<!-- Product Rewards -->
<h3>Rewards</h3>
<% @rewards.each do |reward| %>
	<div class='reward'>
		<p>Backers: <%= reward.pledges.count %></p>
		<p>Backer limit: <%= reward.pledges_left %> left</p>
		<p><%= number_to_currency(reward.amount / 100) %></p>
		<p><%= reward.description %></p>


<div class='project-show-container'>
	<div class='large-9 columns'>
		<div class='project-container'>
			<%#= image_tag @project.image.url %>
			<%= image_tag "http://placehold.it/800x400", class: '' %>
			<p><%= raw(@project.description) %></p>
		</div>
	</div>
	<div class='large-3 columns'>
		<div class='info-container'>
			<p class='stat-text'><span class='stat-number'><%= @project.pledges.count %></span><br>backers</p>
			<p class='stat-text'><span class='stat-number'><%= number_to_currency(@project.funded_amount / 100) %></span><br> pledged of <%= number_to_currency(@project.goal / 100) %> goal</p>
			<p class='stat-text'><span class='stat-number'><%= @days_left %></span><br> days left </p>
		</div>
		<div class='reward-container'>
			<h3>Rewards</h3>
			<% @rewards.each do |reward| %>
				<div class='reward'>
					<p>Backers: <%= reward.pledges.count %></p>
					<p><%= number_to_currency(reward.amount / 100) %></p>
					<p><%= reward.description %></p>

					<p><%= link_to "View Reward", project_reward_path(@project, reward), class: 'button tiny' %></p>
				</div>
			<% end %>
		</div>
	</div>
	<br>
	<br>

	<br>
	<br>

<!-- Project Comments -->

<div style="clear:both;">&nbsp;</div>
</div>


	<br>
	<br>

	<!-- MapBox -->


	<div data-lat="<%= @project.latitude %>" data-long = "<%= @project.longitude %>" data-title="<%= @project.title %>" data-description="<%= @project.description %>" id='map'>

	</div>

 <style type="text/css">

		#map {
			width: 90%;
			height: 400px;
			margin: auto;
		}

 </style>

<script>

	initMapDisplay();

</script>
