<div class="large-12 columns">
  <hr/>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <p>&copy; 2014 Brew Garden</p>
    </div>
    <div class="small-12 medium-4 text-center columns">
      <p>Made with <img src="img/beer-icon.png"> in Toronto</p>
    </div>
    <div class="small-12 medium-4 text-right columns">
      <p><a href="#" data-reveal-id="about">About</a> &nbsp;|&nbsp; <a href="#" data-reveal-id="faq">FAQs</a> &nbsp;|&nbsp; <a href="#" data-reveal-id="contact">Contact us</a></p>
    </div>
  </div>
</div>

<div id="about" class="reveal-modal medium radius" data-reveal>
  <div class="row">
    <div class="small-12 text-center">
      <h2>About</h2>
    </div>
    <div class="small-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laborum debitis quia eum sint! Optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore velit facere provident nulla, saepe, doloremque itaque aspernatur ea. Vero voluptatem ullam quo voluptate. Nemo ipsa at nihil nobis libero, fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laborum debitis quia eum sint! Optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore velit facere provident nulla, saepe, doloremque itaque aspernatur ea. Vero voluptatem ullam quo voluptate. Nemo ipsa at nihil nobis libero, fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laborum debitis quia eum sint! Optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore velit facere provident nulla, saepe, doloremque itaque aspernatur ea. Vero voluptatem ullam quo voluptate. Nemo ipsa at nihil nobis libero, fuga.</p>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="faq" class="reveal-modal medium radius" data-reveal>
  <div class="row">
    <div class="small-12 text-center">
      <h2>FAQs</h2>
    </div>
    <div class="small-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laborum debitis quia eum sint! Optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore velit facere provident nulla, saepe, doloremque itaque aspernatur ea. Vero voluptatem ullam quo voluptate. Nemo ipsa at nihil nobis libero, fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laborum debitis quia eum sint! Optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore velit facere provident nulla, saepe, doloremque itaque aspernatur ea. Vero voluptatem ullam quo voluptate. Nemo ipsa at nihil nobis libero, fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laborum debitis quia eum sint! Optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore velit facere provident nulla, saepe, doloremque itaque aspernatur ea. Vero voluptatem ullam quo voluptate. Nemo ipsa at nihil nobis libero, fuga.</p>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="contact" class="reveal-modal medium radius text-center" data-reveal>
  <h2>Contact Us</h2>
  <div class="row">
    <div class="small-10 medium-10 large-10 small-centered columns">
      <%= form_tag({controller: 'welcome', action: 'contact'}, method: :post) do %>
      <div class="row collapse">
        <div class="small-2 columns">
          <span class="prefix"><i class="fi-torso"></i></span>
        </div>
        <div class="small-10 columns">
          <%= text_field :contact, :name, placeholder: 'Your name' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 columns">
          <span class="prefix"><i class="fi-mail"></i></span>
        </div>
        <div class="small-10 columns">
          <%= text_field :contact, :email, placeholder: 'Your email' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 columns">
          <span class="prefix"><i class="fi-comment-quotes"></i></span>
        </div>
        <div class="small-10 columns">
          <%= text_area :contact, :message, rows: 5, placeholder: 'Your message' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-12 text-center columns">
          <%= submit_tag "Submit", class: 'button'  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>