<%# navigation styled for Zurb Foundation 5 %>
<div class="sticky">
  <nav class="top-bar" data-topbar data-options="sticky_on: medium">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Brewgarden.ca</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to 'Discover', projects_path %></li>
        <li><%= link_to 'Create', new_project_path %></li>
        <%= render 'layouts/navigation_links' %>
      </ul>
    </section>
  </nav>
</div>

<div class="logo show-for-medium-up">
  <a href="/"><%= image_tag("/img/logo.png", size: "115") %></a>
</div>

<div id="login" class="reveal-modal small radius" data-reveal>
  <%= form_tag sessions_path do %>
  <h3 class="text-center">Log in</h3>
  <hr>
  <div class="row">
    <div class="small-12">
      <div class="row">
        <div class="small-3 columns">
          <%= label_tag :email, nil, class: 'right inline'  %>
        </div>
        <div class="small-9 columns">
          <%= text_field_tag :email  %>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <%= label_tag :password, nil, class: 'right inline'  %>
        </div>
        <div class="small-9 columns">
          <%= password_field_tag :password  %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 text-center columns">
          <%= submit_tag "Log in", class: 'button small radius' %>
        </div>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
    <% end %>
  </div>
</div>

